In [1]:
##toyota 
## importing libraries for loading and preprocessing data 
import numpy as np
import pandas as pd

Reading/Loading And Creating a Copy of Dataset

In [2]:
data = pd.read_csv('Datasets/Toyota.csv')

In [3]:
## creating a deep copy of the dataset 
df1 = data.copy(deep=True)

In [4]:
df1.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [5]:
data_2 = pd.read_csv("Datasets/Toyota.csv")

In [8]:
data3 = pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")

In [7]:
## display the last five rows 
data.tail()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [49]:
df1.loc[10:15, ]

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
10,10,20950,25.0,31461.0,Petrol,192,0.0,0,1800,3,1185
11,11,19950,22.0,43610.0,Petrol,192,0.0,0,1800,3,1185
12,12,19600,25.0,32189.0,Petrol,192,0.0,0,1800,3,1185
13,13,21500,31.0,23000.0,Petrol,192,1.0,0,1800,3,1185
14,14,22500,32.0,34131.0,Petrol,192,1.0,0,1800,3,1185
15,15,22000,28.0,18739.0,Petrol,????,0.0,0,1800,3,1185

In [50]:
df1.loc[35:52, ]

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
35,35,15750,26.0,43000.0,Petrol,97,0.000000,0,1400,3,1100
36,36,15950,25.0,25000.0,Petrol,97,0.000000,0,1400,3,1100
37,37,14950,23.0,10000.0,Petrol,97,1.000000,0,1400,3,1100
38,38,15750,32.0,25329.0,Petrol,97,1.000000,0,1400,3,1100
39,39,14750,27.0,27500.0,Petrol,97,0.000000,0,1400,3,1100
40,40,13950,22.0,49059.0,Petrol,97,0.000000,0,1400,3,1100
41,41,16750,27.0,44068.0,Petrol,97,1.000000,0,1400,3,1100
42,42,13950,22.0,46961.0,Petrol,97,0.000000,0,1400,3,1100
43,43,16950,27.0,110404.0,Diesel,90,55.672156,0,2000,5,1255
44,44,16950,22.0,100250.0,55.672156,90,0.000000,0,2000,5,1255
45,45,19000,23.0,84000.0,Diesel,90,55.672156,0,2000,5,1270
46,46,17950,27.0,79375.0,Diesel,90,1.000000,0,2000,5,1255
47,47,15800,22.0,75048.0,Petrol,97,1.000000,0,1400,5,1110
48,48,17950,22.0,72215.0,Diesel,90,1.000000,0,2000,5,1255
49,49,21950,31.0,64982.0,Petrol,192,55.672156,0,1800,5,1195
50,50,17950,22.0,62636.0,Diesel,90,1.000000,0,2000,5,1255
51,51,15750,30.0,57086.0,Petrol,97,1.000000,0,1400,5,1110
52,52,20500,26.0,56000.0,Petrol,110,1.000000,1,1600,5,1180

In [52]:
df1

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.000000,46986.000000,Diesel,90,1.000000,0,2000,three,1165
1,1,13750,23.000000,72937.000000,Diesel,90,1.000000,0,2000,3,1165
2,2,13950,24.000000,41711.000000,Diesel,90,55.672156,0,2000,3,1165
3,3,14950,26.000000,48000.000000,Diesel,90,0.000000,0,2000,3,1165
4,4,13750,30.000000,38500.000000,Diesel,90,0.000000,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,55.672156,20544.000000,Petrol,86,1.000000,0,1300,3,1025
1432,1432,10845,72.000000,68647.239972,Petrol,86,0.000000,0,1300,3,1015
1433,1433,8500,55.672156,17016.000000,Petrol,86,0.000000,0,1300,3,1015
1434,1434,7250,70.000000,68647.239972,55.672156,86,1.000000,0,1300,3,1015
1435,1435,6950,76.000000,1.000000,Petrol,110,0.000000,0,1600,5,1114

In [54]:
df1.shape[0]

1436

In [56]:
df1.shape[1]

11

In [9]:
df1.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [58]:
df1['Weight'].nunique()

59

In [10]:
for each_item in df1.columns:
    print(each_item.lower())

unnamed: 0
price
age
km
fueltype
hp
metcolor
automatic
cc
doors
weight

In [12]:
df1['Price']

0       13500
1       13750
2       13950
3       14950
4       13750
        ...
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1436, dtype: int64

In [13]:
df1['Age']

0       23.0
1       23.0
2       24.0
3       26.0
4       30.0
        ...
1431     NaN
1432    72.0
1433     NaN
1434    70.0
1435    76.0
Name: Age, Length: 1436, dtype: float64

In [15]:
df1['KM']

0       46986
1       72937
2       41711
3       48000
4       38500
        ...
1431    20544
1432       ??
1433    17016
1434       ??
1435        1
Name: KM, Length: 1436, dtype: object

In [19]:
df1['HP']

0        90
1        90
2        90
3        90
4        90
       ...
1431     86
1432     86
1433     86
1434     86
1435    110
Name: HP, Length: 1436, dtype: object

In [17]:
df1.size

15796

In [18]:
for i in df1.shape:
    print(i)

1436
11

In [25]:
df1.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [26]:
##replace missing values in Age with nan
df1['Age'] = df1['Age'].replace('??',np.nan)

In [33]:
df1['KM'] = df1['KM'].replace('??',np.nan)
df1['KM'] = df1['KM'].astype('float64')
df1['KM'].unique()

array([46986., 72937., 41711., ..., 30964., 20544., 17016.])

In [40]:
df1['KM']

0       46986.000000
1       72937.000000
2       41711.000000
3       48000.000000
4       38500.000000
            ...
1431    20544.000000
1432    68647.239972
1433    17016.000000
1434    68647.239972
1435        1.000000
Name: KM, Length: 1436, dtype: float64

In [37]:
## Iputing missing values  for KM
mean_seplencm= df1['KM'].mean()
print(mean_seplencm)

68647.23997185081

In [38]:
## this will replace missing values with mean in KM
df1['KM']=df1['KM'].fillna(mean_seplencm)

In [41]:
## Iputing missing values  for Age
mean_seplencm= df1['Age'].mean()
print(mean_seplencm)

55.67215568862275

In [42]:
## this will replace Age missing values
df1['Age']=df1['Age'].fillna(mean_seplencm)

In [44]:
## this will replace FuelType missing values
df1['FuelType']=df1['FuelType'].fillna(mean_seplencm)

In [46]:
## this will replace MetColor missing values
df1['MetColor']=df1['MetColor'].fillna(mean_seplencm)

In [47]:
df1.isnull().sum()

Unnamed: 0    0
Price         0
Age           0
KM            0
FuelType      0
HP            0
MetColor      0
Automatic     0
CC            0
Doors         0
Weight        0
dtype: int64

In [48]:
df1['MetColor'].unique

<bound method Series.unique of 0        1.000000
1        1.000000
2       55.672156
3        0.000000
4        0.000000
          ...
1431     1.000000
1432     0.000000
1433     0.000000
1434     1.000000
1435     0.000000
Name: MetColor, Length: 1436, dtype: float64>

In [53]:
df1['Age']

0       23.000000
1       23.000000
2       24.000000
3       26.000000
4       30.000000
          ...
1431    55.672156
1432    72.000000
1433    55.672156
1434    70.000000
1435    76.000000
Name: Age, Length: 1436, dtype: float64