# Importing libraries

In [1]:
import pandas as pd
import numpy as np

# Reading and creating a copy of Dataset

In [6]:
data = pd.read_csv("Datasets/Toyota.csv")
data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

# Creating a copy of dataset

In [4]:
df1 = data.copy()

# Displaying the first five rows of the dataset

In [5]:
df1.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

# Displaying the last five rows of the dataset

In [8]:
df1.tail()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

# Displaying n number of rows

In [9]:
df1.head(20)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
6,6,16900,27.0,??,Diesel,????,NaN,0,2000,3,1245
7,7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245
8,8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
9,9,12950,23.0,71138,Diesel,????,NaN,0,1900,3,1105
10,10,20950,25.0,31461,Petrol,192,0.0,0,1800,3,1185
11,11,19950,22.0,43610,Petrol,192,0.0,0,1800,3,1185
12,12,19600,25.0,32189,Petrol,192,0.0,0,1800,3,1185
13,13,21500,31.0,23000,Petrol,192,1.0,0,1800,3,1185
14,14,22500,32.0,34131,Petrol,192,1.0,0,1800,3,1185
15,15,22000,28.0,18739,Petrol,????,0.0,0,1800,3,1185
16,16,22750,30.0,34000,Petrol,192,1.0,0,1800,3,1185
17,17,17950,24.0,21716,Petrol,110,1.0,0,1600,3,1105
18,18,16750,24.0,25563,Petrol,110,0.0,0,1600,3,1065
19,19,16950,30.0,64359,Petrol,110,1.0,0,1600,3,1105

In [10]:
df1.tail(25)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1411,1411,7950,76.0,43532,Petrol,110,0.0,0,1600,5,1070
1412,1412,9950,69.0,42800,Petrol,110,1.0,0,1600,3,1050
1413,1413,8750,74.0,42317,Petrol,107,1.0,1,1600,5,1100
1414,1414,7500,80.0,42186,Petrol,110,1.0,0,1600,3,1050
1415,1415,6950,72.0,42000,Petrol,110,NaN,0,1600,3,1050
1416,1416,8950,NaN,40093,Petrol,110,0.0,0,1600,5,1114
1417,1417,8750,79.0,39800,Petrol,107,0.0,1,1600,3,1080
1418,1418,7750,73.0,39168,Petrol,86,NaN,0,1300,3,1015
1419,1419,8450,75.0,38945,Petrol,110,NaN,0,1600,3,1050
1420,1420,8150,76.0,36537,NaN,110,0.0,1,1600,4,1075
1421,1421,8500,78.0,??,Petrol,86,0.0,1,1300,3,1045
1422,1422,7600,NaN,36000,NaN,110,1.0,0,1600,3,1050
1423,1423,7950,80.0,35821,Petrol,86,0.0,1,1300,3,1015
1424,1424,7750,73.0,34717,Petrol,86,0.0,0,1300,3,1015
1425,1425,7950,80.0,??,Petrol,86,1.0,0,1300,4,1000
1426,1426,9950,78.0,30964,Petrol,110,NaN,1,1600,3,1080
1427,1427,8950,NaN,29000,Petrol,86,1.0,1,1300,3,1045
1428,1428,8450,72.0,??,Petrol,86,NaN,0,1300,3,1015
1429,1429,8950,78.0,24000,Petrol,86,1.0,1,1300,5,1065
1430,1430,8450,80.0,23000,Petrol,86,0.0,0,1300,3,1015
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

# Listing out column names

In [14]:
df1.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [15]:
for items in df1.columns:
    print(items)

Unnamed: 0
Price
Age
KM
FuelType
HP
MetColor
Automatic
CC
Doors
Weight

In [18]:
for items in df1.columns:
    print(items.lower())

unnamed: 0
price
age
km
fueltype
hp
metcolor
automatic
cc
doors
weight

In [19]:
for items in df1.columns:
    print(items.upper())

UNNAMED: 0
PRICE
AGE
KM
FUELTYPE
HP
METCOLOR
AUTOMATIC
CC
DOORS
WEIGHT

# Accessing a given column

In [20]:
df1['Price']

0       13500
1       13750
2       13950
3       14950
4       13750
        ...
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1436, dtype: int64

In [21]:
df1['Doors']

0       three
1           3
2           3
3           3
4           3
        ...
1431        3
1432        3
1433        3
1434        3
1435        5
Name: Doors, Length: 1436, dtype: object

# Accessing a single a single value for a row/column by their label and index

In [22]:
df1.at[1,'KM']

'72937'

In [24]:
df1.iat[1,3]

'72937'

# Accessing a group of rows and column by their label

In [25]:
df1.loc[0:8,'Age']

0    23.0
1    23.0
2    24.0
3    26.0
4    30.0
5    32.0
6    27.0
7    30.0
8    27.0
Name: Age, dtype: float64

In [26]:
df1.loc[100:110,'KM']

100    23175
101    19200
102    18000
103    16123
104    14635
105    13748
106    11500
107    10000
108     7187
109        1
110     4000
Name: KM, dtype: object

In [27]:
df1.iloc[0:8,2]

0    23.0
1    23.0
2    24.0
3    26.0
4    30.0
5    32.0
6    27.0
7    30.0
Name: Age, dtype: float64

In [28]:
df1.iloc[100:110,3]

100    23175
101    19200
102    18000
103    16123
104    14635
105    13748
106    11500
107    10000
108     7187
109        1
Name: KM, dtype: object

In [29]:
df1.loc[0:10, ]

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
6,6,16900,27.0,??,Diesel,????,NaN,0,2000,3,1245
7,7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245
8,8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
9,9,12950,23.0,71138,Diesel,????,NaN,0,1900,3,1105
10,10,20950,25.0,31461,Petrol,192,0.0,0,1800,3,1185

# To return the size of dataset

In [30]:
df1.shape

(1436, 11)

In [32]:
print('Total number of rows:', df1.shape[0], 'Total number of columns:',df1.shape[1])

Total number of rows: 1436 Total number of columns: 11

In [34]:
print(f'Total number of rows: {df1.shape[0]} Total number of columns: {df1.shape[1]}')

Total number of rows: 1436 Total number of columns: 11

# To return a concise summary of the dataset

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

# To return the columns and their data types

In [38]:
df1.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

# To return the number of unique values

In [42]:
df1.nunique()

Unnamed: 0    1436
Price          236
Age             77
KM            1256
FuelType         3
HP              13
MetColor         2
Automatic        2
CC              12
Doors            7
Weight          59
dtype: int64

In [43]:
df1['FuelType'].unique()

array(['Diesel', nan, 'Petrol', 'CNG'], dtype=object)

In [44]:
df1['CC'].unique()

array([2000, 1800, 1900, 1600, 1400, 1598, 1995, 1398, 1300, 1587, 1975,
       1332])

# To return the number of missing values in each column

In [45]:
df1.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

# Data Preprocessing

In [50]:
df1

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

# Replacing special characters

In [52]:
df1['KM'].replace('??', np.nan)

0       46986
1       72937
2       41711
3       48000
4       38500
        ...
1431    20544
1432      NaN
1433    17016
1434      NaN
1435        1
Name: KM, Length: 1436, dtype: object

In [57]:
df1['KM'] = df1['KM'].replace('??', np.nan)

# To recheck for the special characters

In [58]:
df1['KM'].unique()

array(['46986', '72937', '41711', ..., '30964', '20544', '17016'],
      dtype=object)

# To convert column type to float

In [59]:
df1['KM'] = df1['KM'].astype('float64')

In [60]:
df1.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM            float64
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

# To replace special character

In [63]:
df1["HP"].replace("????", np.nan)

0        90
1        90
2        90
3        90
4        90
       ...
1431     86
1432     86
1433     86
1434     86
1435    110
Name: HP, Length: 1436, dtype: object

In [65]:
df1["HP"] = df1["HP"].replace("????", np.nan)

In [66]:
df1["HP"].unique()

array(['90', nan, '192', '110', '97', '71', '116', '98', '69', '86', '72',
       '107', '73'], dtype=object)

# To convert column type to float

In [67]:
df1["HP"] = df1["HP"].astype("float")

In [69]:
df1.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM            float64
FuelType       object
HP            float64
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [70]:
df1['Doors'].unique()

array(['three', '3', '5', '4', 'four', 'five', '2'], dtype=object)

In [76]:
df1['Doors'].replace('three',3 )

0       3
1       3
2       3
3       3
4       3
       ..
1431    3
1432    3
1433    3
1434    3
1435    5
Name: Doors, Length: 1436, dtype: object

In [80]:
df1['Doors'] = df1['Doors'].replace('three',3 )

In [77]:
df1['Doors'].replace('four',4 )

0       three
1           3
2           3
3           3
4           3
        ...
1431        3
1432        3
1433        3
1434        3
1435        5
Name: Doors, Length: 1436, dtype: object

In [82]:
df1['Doors'] = df1['Doors'].replace('four',4 )

In [79]:
df1['Doors'].replace('five',5 )

0       three
1           3
2           3
3           3
4           3
        ...
1431        3
1432        3
1433        3
1434        3
1435        5
Name: Doors, Length: 1436, dtype: object

In [81]:
df1['Doors'] = df1['Doors'].replace('five',5 )

In [83]:
df1['Doors'].unique()

array([3, '3', '5', '4', 4, 5, '2'], dtype=object)

In [84]:
df1['Doors'] = df1['Doors'].astype('float')

In [85]:
df1.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM            float64
FuelType       object
HP            float64
MetColor      float64
Automatic       int64
CC              int64
Doors         float64
Weight          int64
dtype: object

In [87]:
df1['FuelType'].unique()

array(['Diesel', nan, 'Petrol', 'CNG'], dtype=object)

In [90]:
df1.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM             15
FuelType      100
HP              6
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [91]:
df1.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,3.0,1165
1,1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3.0,1165
2,2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3.0,1165
3,3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3.0,1165
4,4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3.0,1170

# To fix missing values

In [94]:
mean_Hp = df1['HP'].mean()
print(mean_Hp)

101.47832167832168

In [95]:
df1['HP'] = df1['HP'].fillna(mean_Hp)

In [96]:
df1.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM             15
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [97]:
mean_Km = df1['KM'].mean()
print(mean_Km)

68647.23997185081

In [98]:
df1['KM'] = df1['KM'].fillna(mean_Km)

In [99]:
df1.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [100]:
median_Age = df1['Age'].median()
print(median_Age)

60.0

In [101]:
df1['Age'] = df1['Age'].fillna(median_Age)

In [104]:
df1.isnull().sum()

Unnamed: 0      0
Price           0
Age             0
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [105]:
mean_MeC = df1['MetColor'].mean()
print(mean_MeC)

0.6749611197511665

In [106]:
df1['MetColor'] = df1['MetColor'].fillna(mean_MeC)

In [107]:
df1.isnull().sum()

Unnamed: 0      0
Price           0
Age             0
KM              0
FuelType      100
HP              0
MetColor        0
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [108]:
df1['FuelType'].value_counts()

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [109]:
Highest_Count = df1['FuelType'].value_counts().index[0]

In [110]:
df1['FuelType'] = df1['FuelType'].fillna(Highest_Count)

In [111]:
df1.isnull().sum()

Unnamed: 0    0
Price         0
Age           0
KM            0
FuelType      0
HP            0
MetColor      0
Automatic     0
CC            0
Doors         0
Weight        0
dtype: int64

In [112]:
df1

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.000000,Diesel,90.0,1.000000,0,2000,3.0,1165
1,1,13750,23.0,72937.000000,Diesel,90.0,1.000000,0,2000,3.0,1165
2,2,13950,24.0,41711.000000,Diesel,90.0,0.674961,0,2000,3.0,1165
3,3,14950,26.0,48000.000000,Diesel,90.0,0.000000,0,2000,3.0,1165
4,4,13750,30.0,38500.000000,Diesel,90.0,0.000000,0,2000,3.0,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544.000000,Petrol,86.0,1.000000,0,1300,3.0,1025
1432,1432,10845,72.0,68647.239972,Petrol,86.0,0.000000,0,1300,3.0,1015
1433,1433,8500,60.0,17016.000000,Petrol,86.0,0.000000,0,1300,3.0,1015
1434,1434,7250,70.0,68647.239972,Petrol,86.0,1.000000,0,1300,3.0,1015
1435,1435,6950,76.0,1.000000,Petrol,110.0,0.000000,0,1600,5.0,1114