In [1]:
#Importing libraries for loading and processing data
import pandas as pd
import numpy as np

In [2]:
#checking versions of imported libraries
print(np.__version__)
print(pd.__version__)

2.1.3
2.2.3

In [3]:
#Reading the toyota file- its a csv file thus pandas.read_csv
data = pd.read_csv("Datasets/Toyota.csv")
data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [4]:
#Displaying first 8 rows
data.head(8)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
6,6,16900,27.0,??,Diesel,????,NaN,0,2000,3,1245
7,7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245

In [5]:
#displaying last 3 rows
data.tail(3)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [6]:
#Creating a copy(deep) of the data
cptoyota = data.copy(deep=True)
cptoyota

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [7]:
#accessing index or column names
cptoyota.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [8]:
#accessing specific columns by their names
cptoyota["Doors"]

0       three
1           3
2           3
3           3
4           3
        ...
1431        3
1432        3
1433        3
1434        3
1435        5
Name: Doors, Length: 1436, dtype: object

In [9]:
#accessing a single value in a row or column by label and index
cptoyota.at[1, 'FuelType']

'Diesel'

In [10]:
#accessing a single value in a row or column by index
cptoyota.iat[0, 1]

np.int64(13500)

In [11]:
#accessing a range of datasets
cptoyota.loc[7:10]

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
7,7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245
8,8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
9,9,12950,23.0,71138,Diesel,????,NaN,0,1900,3,1105
10,10,20950,25.0,31461,Petrol,192,0.0,0,1800,3,1185

In [12]:
#accessing a range of data in the dataset by specific column and label
cptoyota.loc[7:10, "FuelType"]

7        NaN
8     Petrol
9     Diesel
10    Petrol
Name: FuelType, dtype: object

In [13]:
#accessing the shape of the dataset
cptoyota.shape[0]

1436

In [14]:
#Extra step on how to display number of rows and columns in a sentence form
print(f"Total Number of rows is" , {cptoyota.shape[0]}, "and the total number of columns is" , {cptoyota.shape[1]})

Total Number of rows is {1436} and the total number of columns is {11}

In [15]:
#general overview of the dataset
cptoyota.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [16]:
#looking for columns and their data types
cptoyota.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [17]:
#loking for the number of unique values
cptoyota.nunique()

Unnamed: 0    1436
Price          236
Age             77
KM            1256
FuelType         3
HP              13
MetColor         2
Automatic        2
CC              12
Doors            7
Weight          59
dtype: int64

In [18]:
#accessing unique values in a specific column
cptoyota["FuelType"].unique()

array(['Diesel', nan, 'Petrol', 'CNG'], dtype=object)

In [19]:
#looking for missing values in the various columns
cptoyota.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [20]:
#finding average age to use to replace missing values in the age column
average_age = round(cptoyota['Age'].mean())
print(average_age)

56

In [21]:
#replace empty fields with NaN before replacing the NaN with the average age to fill in
cptoyota['Age'] = cptoyota['Age'].replace("", np.nan)

In [22]:
#replace the NaN values with the average age
cptoyota['Age'] = cptoyota['Age'].fillna(average_age)

In [23]:
#replace empty fields in KM column with NaN
cptoyota['KM'] = cptoyota['KM'].replace("", np.nan)

In [24]:
#replace ?? in the KM field
cptoyota['KM'] = cptoyota['KM'].replace("??", np.nan)

In [25]:
#Convert the 'KM' column to numeric, forcing invalid values to NaN
cptoyota['KM'] = pd.to_numeric(cptoyota['KM'], errors='coerce')

In [26]:
#calculate average KM to use to replace empty and non numeric values in the column
average_km = round(cptoyota['KM'].mean())
print(average_km)

68647

In [27]:
#replace the NaN values with the average KM
cptoyota['KM'] = cptoyota['KM'].fillna(average_km)

In [28]:
#confirming changes in the various columns
cptoyota.isnull().sum()

Unnamed: 0      0
Price           0
Age             0
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [29]:
#Replace empty strings with NaN
cptoyota['FuelType'] = cptoyota['FuelType'].replace("", np.nan)

In [30]:
#finding the mode of the column
mode_fuel_type = cptoyota['FuelType'].mode()[0]
print(mode_fuel_type)

Petrol

In [31]:
#replace Nan values with the mode
cptoyota['FuelType'] = cptoyota['FuelType'].fillna(mode_fuel_type)

In [32]:
#confirming changes in the various columns
cptoyota.isnull().sum()

Unnamed: 0      0
Price           0
Age             0
KM              0
FuelType        0
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [33]:
#Replace Metcolor empty fields
cptoyota['MetColor'] = cptoyota['MetColor'].replace("", np.nan)

In [34]:
#find Mode if the Metcolor
mode_MetColor = cptoyota['MetColor'].mode()[0]
print(mode_MetColor)

1.0

In [35]:
#Replacing Nan values with the mode
cptoyota['MetColor'] = cptoyota['MetColor'].fillna(mode_MetColor)

In [36]:
#confirming changes in the various columns
cptoyota.isnull().sum()

Unnamed: 0    0
Price         0
Age           0
KM            0
FuelType      0
HP            0
MetColor      0
Automatic     0
CC            0
Doors         0
Weight        0
dtype: int64

In [37]:
#calculate average HP to use to replace non numeric values in the column
cptoyota['HP'] = pd.to_numeric(cptoyota['HP'], errors='coerce')

In [38]:
#find mean Hp to use to replace
average_hp = round(cptoyota['HP'].mean())
print(average_hp)

101

In [39]:
#Replacing Nan values with the mean
cptoyota['HP'] = cptoyota['HP'].fillna(average_hp)

In [40]:
wordnumb_map = {
    "three": 3,
    "four": 4,
    "five": 5,
}
cptoyota['Doors'] = cptoyota['Doors'].replace(wordnumb_map)

In [41]:
#Let us confirm data types of column
cptoyota.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM            float64
FuelType       object
HP            float64
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [42]:
#convert age to integer
cptoyota['Age'] = cptoyota['Age'].astype('int64')

In [43]:
#convert KM to integer
cptoyota['KM'] = cptoyota['KM'].astype('int64')

In [44]:
#convert HP to integer
cptoyota['HP'] = cptoyota['HP'].astype('int64')

In [45]:
#convert Metcolor to integer
cptoyota['MetColor'] = cptoyota['MetColor'].astype('int64')

In [46]:
#convert Doors to integer
cptoyota['Doors'] = cptoyota['Doors'].astype('int64')

In [47]:
#Let us confirm data types of column
cptoyota.dtypes

Unnamed: 0     int64
Price          int64
Age            int64
KM             int64
FuelType      object
HP             int64
MetColor       int64
Automatic      int64
CC             int64
Doors          int64
Weight         int64
dtype: object