In [5]:
import pandas as pd

In [24]:
data = pd.read_csv("Datasets/Toyota.csv")
data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [32]:
data1=pd.read_csv("Datasets/Toyota.csv",delimiter=" ")
data1

     ,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0        0,13500,23,46986,Diesel,90,1,0,2000,three,1165
1            1,13750,23,72937,Diesel,90,1,0,2000,3,1165
2             2,13950,24,41711,Diesel,90,,0,2000,3,1165
3            3,14950,26,48000,Diesel,90,0,0,2000,3,1165
4            4,13750,30,38500,Diesel,90,0,0,2000,3,1170
...                                                 ...
1431         1431,7500,,20544,Petrol,86,1,0,1300,3,1025
1432         1432,10845,72,??,Petrol,86,0,0,1300,3,1015
1433         1433,8500,,17016,Petrol,86,0,0,1300,3,1015
1434                1434,7250,70,??,,86,1,0,1300,3,1015
1435          1435,6950,76,1,Petrol,110,0,0,1600,5,1114

[1436 rows x 1 columns]

In [90]:

data1.head()

  ,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0     0,13500,23,46986,Diesel,90,1,0,2000,three,1165
1         1,13750,23,72937,Diesel,90,1,0,2000,3,1165
2          2,13950,24,41711,Diesel,90,,0,2000,3,1165
3         3,14950,26,48000,Diesel,90,0,0,2000,3,1165
4         4,13750,30,38500,Diesel,90,0,0,2000,3,1170

In [38]:
data1.tail()

     ,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431         1431,7500,,20544,Petrol,86,1,0,1300,3,1025
1432         1432,10845,72,??,Petrol,86,0,0,1300,3,1015
1433         1433,8500,,17016,Petrol,86,0,0,1300,3,1015
1434                1434,7250,70,??,,86,1,0,1300,3,1015
1435          1435,6950,76,1,Petrol,110,0,0,1600,5,1114

In [40]:
# creating a deep copy of the dataset
data1 = data1.copy(deep=True)

In [42]:
data1.columns

Index([',Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight'], dtype='object')

In [44]:
for each_item in data1.columns:
     print(each_item.lower())

,price,age,km,fueltype,hp,metcolor,automatic,cc,doors,weight

In [46]:
data1.shape

(1436, 1)

In [48]:
data1.size

1436

In [50]:
tuple1 = data1.shape
a,b = tuple1
print (a)
print(b)

1436
1

In [52]:
## Accessing the role and columns uisng the f string
print("total number of rows",data1.shape[0], "total number of columns" , data1.shape[1])

total number of rows 1436 total number of columns 1

In [54]:
## gives you a summary of the data
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 1 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   ,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight  1436 non-null   object
dtypes: object(1)
memory usage: 11.3+ KB

In [56]:
## return the columns and their types
data1.dtypes

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight    object
dtype: object

In [78]:
## return the numbr of unique value

data1.nunique()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight    1436
dtype: int64

In [80]:


data1.isnull().sum()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight    0
dtype: int64

In [82]:
data1.head()

  ,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0     0,13500,23,46986,Diesel,90,1,0,2000,three,1165
1         1,13750,23,72937,Diesel,90,1,0,2000,3,1165
2          2,13950,24,41711,Diesel,90,,0,2000,3,1165
3         3,14950,26,48000,Diesel,90,0,0,2000,3,1165
4         4,13750,30,38500,Diesel,90,0,0,2000,3,1170

KeyError: 'Price'